* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  outline: none;
  border: none;
}

body {
}

.Home {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // transition: 100ms linear background-color;
}

.Logo {
  position: relative;
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.render {
    margin: 0;
  }

  .Logo-body {
  }

  .Logo-eyes {
    position: absolute;
    left: 0; right: 0; bottom: 20%;
    display: flex;
    justify-content: center;
  }
}

.controls {
  background: rgba(black, 0.2);
  padding: 20px;

  > * + * {
    margin-top: 20px;
  }
}

input[type=text] {
  background: rgba(black, 0.3);
  color: rgba(white, 0.5);
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid;
  width: 100%;
}

.horizontal-slider {
  width: 100%;
  height: 20px;
  background: rgba(black, 0.2);
}
.horizontal-slider .bar {
    top: 20px;
    height: 10px;
}
.handle {
  background-color: rgba(black, 0.3);
  cursor: pointer;
}
.horizontal-slider .handle {
  top: 1px;
  width: 50px;
  height: 18px;
  line-height: 48px;
}

.darender {
  // display: flex;
}
